.panel.sidebar-menu .panel-heading {
    text-transform: uppercase;
    margin-bottom: 10px;
    background: none;
    padding: 0;
    letter-spacing: 0.08em;
    border-bottom: none;
  }
  .panel.sidebar-menu .panel-heading h1,
  .panel.sidebar-menu .panel-heading h2,
  .panel.sidebar-menu .panel-heading h3,
  .panel.sidebar-menu .panel-heading h4,
  .panel.sidebar-menu .panel-heading h5 {
    display: inline-block;
    border-bottom: solid 5px #a67c00;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .panel.side